<!DOCTYPE html>
<html>
  <head>
    <title>Example application for Sequent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style type="text/css">
      .errors {
        color: red;
        padding-left: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="jumbotron">
          <h1>Sequent Example Application</h1>

          <p class="lead">
            This is an example CQRS/Event Sourced based application using the
            <a target="_blank" href="https://github.com/zilverline/sequent">sequent</a> gem
          </p>

          <p>
            <a class="btn btn-lg btn-success" target="_blank" href="https://github.com/zilverline/sequent" role="button">Read
              the Sequent docs!</a></p>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Add invoices</h3>
          </div>
          <div class="panel-body">
            <ul class="errors">
              <% @command.validation_errors.each do |error| %>
                <li><%= error.first %> <%= error.last.join(",") %></li>
              <% end %>
            </ul>
            <form method="post">
              <fieldset>
                <div class="form-group">
                  <label for="amount">Amount</label>
                  <input class="form-control" type="text" name="create_invoice[amount]" id="amount" value="<%= @command.amount %>">
                </div>
                <div class="form-group">
                  <label for="recipient_name">Recipient</label>
                  <input class="form-control" type="text" name="create_invoice[recipient][name]" id="recipient_name" value="<%= @command.recipient&.name %>">
                </div>
                <input type="hidden" name="create_invoice[aggregate_id]" value="<%= @command.aggregate_id %>">
                <input type="hidden" name="create_invoice[tenant_id]" value="<%= @command.tenant_id %>">

                <input class="btn btn-lg btn-primary" type="submit" value="Add Invoice!">
              </fieldset>
            </form>
          </div>
        </div>

        <br><br>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">View state build by the InvoiceDashboardEventHandler</h3>
          </div>
          <div class="panel-body">
            <p>
              Total number of invoices: <%= InvoiceTotalsRecord.first.try(:total_invoice_count) %>
            </p>

            <p>
              Total amount of invoices: <%= InvoiceTotalsRecord.first.try(:total_amount) %>
            </p>
          </div>
        </div>
        <br><br>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">View state build by the InvoiceRecordEventHandler</h3>
          </div>
          <div class="panel-body">
            <ul>
            <% InvoiceRecord.all.each do |invoice| %>
              <li><%= h invoice.recipient_name %> is invoiced for EUR <%= invoice.amount %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
