<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">New invoice</h3>
    </div>
    <div class="panel-body">
      <ul class="errors">
        <% @command.validation_errors.each do |error| %>
          <li><%= error.first %> <%= error.last.join(",") %></li>
        <% end %>
      </ul>

      <%= form_tag("/invoice", method: "post") do %>
        <fieldset>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control" type="text" name="create_invoice[amount]" id="amount" value="<%= @command.amount %>">
          </div>
          <div class="form-group">
            <label for="recipient_name">Recipient</label>
            <input class="form-control" type="text" name="create_invoice[recipient][name]" id="recipient_name" value="<%= @command.recipient&.name %>">
          </div>
          <input type="hidden" name="create_invoice[aggregate_id]" value="<%= @command.aggregate_id %>">
          <input type="hidden" name="create_invoice[tenant_id]" value="<%= @command.tenant_id %>">

          <input class="btn btn-lg btn-primary" type="submit" value="Add Invoice!">
        </fieldset>
      <% end %>
    </div>
  </div>
